<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Object Detection App</title>
  </head>
  <body>
    <h1>PPE Detection App</h1>
    <div>
      <img id="video-stream" src="{{ url_for('video_feed') }}" style="width:100%;"/>
    </div>
  </body>
</html>
